.custom-container {
    position: relative;
    display: inline-block;
  }
  
  .custom-relative {
    position: relative;
  }
  
  .custom-button {
    background-color: #18979b;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    width: 14em;
    border-radius: 12px;
  }
  
  .custom-text {
    flex-grow: 1;
  }
  
  .custom-dropdown {
    position: absolute;
    top: 100%;
    left: 50%;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    transform: translateX(-50%);
    border-radius: 12px;
    width: 10em;
  }
  
  .custom-dropdown-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    color: rgb(54, 54, 54);
    font-size: 14px;
  }
  
  .custom-dropdown-item:hover {
    background-color: #e3fbfb;
    color: #18979b;
  }
  
  .custom-dropdown-item span {
    margin-right: 8px;
  }
  
  
  a {
    text-decoration: none;
  }