.service-request-bold2{
    color: #475B66;
}
.my-request-group1{
color: #263238;
font-family: "Poppins-Bold", Helvetica;
font-size: 40px;
font-weight: 700;
left: 0;
letter-spacing: 0;
line-height: normal;
position: relative;
text-align: center;
top: 0;
}
.my-request-group2{
    color: #263238;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    top: 50px;
    }
    .my-request-group3{
        color: #263238;
        font-family: "Poppins-Bold", Helvetica;
        font-size: 24px;
        font-weight: 400;
        left: 0;
      
        letter-spacing: 0;
        line-height: normal;
        position: relative;
        text-align: center;
        top: 70px;
        }
        .my-request-group4{
            color: #263238;
            font-family: "Poppins-Bold", Helvetica;
            font-size: 15px;
            font-weight: 400;
            left: 0;
            letter-spacing: 0;
            line-height: normal;
            position: relative;
            text-align: center;
            top: 110px;
            }
        .service-request-bold1{
            font-size: 32px;
            font-weight: 700;
        }

      
             .point {
                height: 23px;
            width: 21px;
            background-color: #4fc9b8;
            border-radius: 10.5px/11.5px;
            height: 23px;
            left: -20px;
            position: absolute;
            top: 12px;
            width: 21px;
            }
            .my-request-right-grp{
                height: 100vh;
                width: 70%;
                left:460px;
                position:relative;
            }
            
            
            